.about {
    display: flex;
    height: calc(100vh - 9vh);
    width: 100%;
    background-color: whitesmoke;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;


}

.div-about-text {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 5%;
}

.div-about-image {
    background-image: url("Imagens/corte1.jpg");
    background-size: cover;
    /* Faz a imagem cobrir toda a div */
    background-position: center;
    /* Centraliza a imagem */
    background-repeat: no-repeat;
    height: 30vh;
    width: 80%;
    display: flex;
    align-items: end;
}