
.cuts {
    display: flex;
    height: calc(100vh - 9vh);
    width: 100%;
    background-color: whitesmoke;
    justify-content: center;

}

.cuts div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
